@keyframes hero-animation {
  0% { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; }
}

.hero {
  animation: hero-animation 1s;
  animation-timing-function: ease;
  padding-top: 8%;
  padding-bottom: 8%;
}

.hero__heading {
  font-size: 50px;
  @media(max-width: $small) {
    font-size: 35px;
  }
}

.hero__logo {
  max-width: 100px;
  transform: translateY(35px);
  @media(max-width: $small) {
    max-width: none;
    display: block;
    transform: none;
    margin-bottom: 20px;
    width: 20%;
    margin-left: 40%;
  }
}
