@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato");
html, body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #22333b;
  color: #f2f2f2; }

ul {
  margin: 0;
  padding: 0; }

td {
  margin: 0;
  padding: 0; }

@keyframes hero-animation {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1; } }
.hero {
  animation: hero-animation 1s;
  animation-timing-function: ease;
  padding-top: 5%;
  padding-bottom: 5%; }

.hero__heading {
  font-size: 50px; }

.hero__logo {
  max-width: 100px;
  transform: translateY(35px); }

.station-search__input {
  border: none;
  outline: none;
  background: none;
  font-size: 1.5em;
  color: #f2f2f2;
  padding-bottom: 10px;
  border-bottom: solid 4px #f2f2f2;
  text-align: center;
  margin-bottom: 5%; }

.station-search__results-container {
  text-align: left;
  margin-top: -5%;
  list-style: none;
  display: block;
  max-width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
  box-shadow: 0px 0px 20px 0px #181613; }

.station-search__results-container a {
  text-decoration: none;
  color: inherit; }

.station-search__result {
  padding: 8px;
  font-weight: bold;
  font-size: 1.1em;
  color: #181613;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 300ms ease; }

.station-search__result:hover {
  background-color: #d9d9d9 !important; }

.station-search__result-routes {
  font-size: .8em;
  font-weight: normal;
  background-color: #181613;
  border-radius: 3px;
  color: #f2f2f2;
  padding: 3px;
  float: right; }

.station-search__results-container > a:first-child > .station-search__result {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.station-search__results-container > a:last-child > .station-search__result {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.station-search__results-container > a:nth-child(2n) > .station-search__result {
  background-color: #e5e5e5; }

.arrivals-table__container {
  display: inline-block;
  border-radius: 3px;
  margin: 10px;
  margin-bottom: 5%; }

.arrivals-table {
  position: relative;
  width: 500px;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px 0px #181613;
  color: #181613;
  background-color: #f2f2f2; }

.arrivals-table__exit {
  color: #f2f2f2;
  float: left;
  transform: translateY(2px); }

.arrivals-table__menu-icon, .arrivals-table__favorite-icon {
  float: right;
  transform: scale(1.2) translateY(1px);
  padding-right: 4px;
  width: 15px;
  margin-left: 10px;
  cursor: pointer; }

.arrivals-table__station-name {
  text-transform: none;
  font-size: 1.67em;
  background-color: #181613;
  color: #f2f2f2; }

.arrivals-table__header {
  text-align: center;
  border: none;
  margin: none;
  text-transform: uppercase;
  font-size: .6em; }

.arrivals-table__header > tr > th {
  padding: 8px; }

.arrivals-table__row {
  text-align: center;
  text-transform: lowercase;
  text-transform: capitalize; }

.arrivals-table__img {
  width: 35px;
  padding-top: 5px;
  padding-bottom: 2px; }

.arrivals-table .arrivals-table__row:nth-child(2n-1) {
  background-color: #e5e5e5; }

.arrivals-table__btn {
  text-transform: uppercase;
  font-size: .6em;
  font-weight: bold;
  background-color: none;
  outline: none;
  border: solid 2px #181613;
  margin: 2px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease; }

.arrivals-table__btn:hover {
  background-color: #cccccc; }

.arrivals-table__btn--active {
  cursor: default;
  background-color: #181613;
  color: #f2f2f2; }

.arrivals-table__btn--active:hover {
  background-color: #181613; }

.arrivals-table__menu {
  background-color: #23201c;
  z-index: 100;
  position: absolute;
  width: 100%;
  color: #f2f2f2;
  height: 0px;
  transition: height 300ms ease;
  box-shadow: 0px 10px 10px 0px rgba(24, 22, 19, 0.5);
  pointer-events: none;
  overflow: hidden;
  font-size: 1.5em; }

.arrivals-table__menu--expanded {
  height: 165px;
  pointer-events: all; }

.arrivals-table__menu-component {
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px; }

.arrivals-table__menu-select {
  margin-left: 10px;
  border: none;
  border-bottom: solid 2px #d9d9d9;
  outline: none;
  width: 90px;
  background: none;
  color: #f2f2f2;
  appearance: none;
  padding-bottom: 2px; }

.arrivals-table__menu-select > option {
  color: #181613; }

.arrivals-table__menu-select-icon {
  transform: translateX(-20px);
  pointer-events: none; }

/*# sourceMappingURL=app.css.map */
